/* Font: Santio bold, Roboto, Tangerine


Farbe: #e7bc0e  / #efefef / #6bc1a3 / #cb91b6 / #7eb8e1 / #000 / #fff */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Santio;
    src: url(../fonts/SANTIO/TTF/Santio\ Bold.ttf);
}
/* donate */
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
/* scroll */
@font-face {
    font-family: Tangerine;
    src: url(../fonts/Tangerine/Tangerine-Regular.ttf);
}


/* header */
 header nav {
     padding: 1% 0 0 83%;
     
 }

li { 
    display: inline-block;
    padding: 0 15% 0 0;
    letter-spacing: 2px;
}

 header nav a {
    font-family: Roboto;
    color: #fff; 
    text-decoration:none;
    padding: 0 0 1.5% 0;
    font-size: 1.5rem;
    border-bottom: 1px solid #e7bc0e ;
        
}

.heart {
    width: 1rem;
}


/* main */
.icon_yellow, .icon_green {
    width: 12%;
    margin: 4% 0 14% 0;
}

.icon_rose {
    width: 12%;
    margin: -4% 0 5% 0;
}

span {
    color: #fff;
    background-color: #000;
    padding: 0.2%;
}

.stillBg {
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(../img/cleo-topper.jpg) no-repeat fixed top/129vw 100vh;
}

main, footer {
    font-family: Santio;
}

article {
    margin: 0 9%;
}

h1.firstPage {
    font-size: 5rem;
    color: #fff;
    padding: 10% 53% 0 0;
}

.learnMore {
    font-family: Tangerine;
    font-size: 2rem;
    color: #e7bc0e;
    padding: 10% 0 30% 0 ;
}


.green {
    color: #6bc1a3;
}

.green p {
    padding: 0 25% 17% 9% ;
}

p {
    font-size: 3.7rem;
    line-height: 5rem;
}



h1.yellow, h1.rose, h1.green {
    font-size: 15rem;
}

h1.rose {
    margin: 0 0 -10% 0;
}

h2.yellow, h2.rose, h2.green {
    font-size: 4.3rem;
    margin: 0 0 1% 0;
}

.yellow {
    color: #e7bc0e;
}

.rose {
    color: #cb91b6 ;
}
.blue {
    color: #7eb8e1 ;
    padding: 0 0 13% 0;
}


main article:nth-of-type(1n + 4) {
    padding: 15% 0 5% 0;
}

.icon:nth-of-type(2) {
    margin: 4% 0 6% 0;
}

main article:nth-of-type(7) {
    padding: 15% 0 0% 7%;
}


section.family {
    background: url(../img/see.png) no-repeat center/cover;
    background-color: #fff;   
    
}

.family img {    
    height: 100%;
    width: 110%;
    margin: -1% auto;
    padding: 0 10% 0% 0;
    object-fit: fill;

    
}


/* footer  */

footer {
    background-color: black;
    color: white;
}

footer span {
    color: #6bc1a3;
}

/* .foot {
    padding: 2% 5% 20% 0;

} */

footer p {
    font-size: 6rem;
    line-height: 6rem;
    padding: 30% 50% 7% 0;
  
}

footer a {
    font-family: Roboto;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    border: 1px solid #fff;
    padding: 1% 2%;
}

footer a:hover {
    box-shadow: 4px 5px;
}

footer section > p {
    font-size: 1rem;
    text-align: center;
    padding: 10% 0 0 0%;
}

footer a:nth-of-type(2) {
    font-size: 1rem;

}
